<ul class="sidebar-menu" data-widget="tree">
<li class="header">HEADER</li>
<!-- Optionally, you can add icons to the links -->
<li class="treeview">
    <a href="#"><i class="fa fa-user"></i> <span>Doctors</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="/Doctors/Create">Add New</a></li>
    <li><a href="/Doctors">All Doctors</a></li>
    </ul>
</li>
</ul>